.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0.8rem;
}

.nav-links a {
    border: 1px solid transparent;
    color: var(--black-color);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 300ms;
    
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
    background: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--black-color);
}

.nav-links button {
    cursor: pointer;
    border: 1px solid var(--black-color);
    color: var(--black-color);
    background: transparent;
    padding: 0.5rem;
}


@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }
    .nav-links li {
        margin: 0 0.5rem;
    }
    .nav-links a {
        color: white;
        text-decoration: none;
    }
    .nav-links button {
        border: 1px solid white;
        color: white;
        background: transparent;
    }

    .nav-links button:hover,
    .nav-links button:active {
        background: var(--accent-color);
        color: var(--black-color);
    }
}